root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{cs,csproj,sln,tf,tfvars,yml,yaml,md,scss,html,json,ts,js}]
indent_style = space

[Makefile]
indent_style = tab