aws_region           = "us-east-2"
name_prefix          = "perfect-prod"
image_tag            = "v0.1.0-mvp"
db_password          = "change-me-now"
jwt_key              = "replace-with-32-chars-min-secret"
cors_allowed_origins = "https://perfect.example.com"