aws_region           = "us-east-2"
name_prefix          = "perfect-dev"
image_tag            = "latest"
db_password          = "change-me-now"
jwt_key              = "replace-with-32-chars-min-secret"
cors_allowed_origins = "*"